<!doctype html>
<html>
	<head>
		<title> Squirrel Information </title> 
	</head>
	<h2> <p> This is the detail page of the squirrel with ID = {{squ.Unique_Squirrel_ID}} </p>
	</h2>
	<body>
		<ul>
			<li>Latitude: {{squ.latitude}}</li>
			<li>Longitude: {{squ.longitude}}</li>
                        <li>Shift: {{squ.Shift}}</li>
                        <li>Date: {{squ.Date}}</li>
                        <li>Age: {{squ.Age}}</li>
                        <li>Primary_Fur_Color: {{squ.Primary_Fur_Color}}</li>
                        <li>Location: {{squ.Location}}</li>
                        <li>Specific_Location: {{squ.Specific_Location }}</li>
                        <li>Running: {{squ.Running}}</li>
                        <li>Chasing: {{squ.Chasing}}</li>
                        <li>Climbing: {{squ.Climbing}}</li>
                        <li>Eating: {{squ.Eating}}</li>
                        <li>Foraging: {{squ.Foraging}}</li>
                        <li>Other_Activities: {{squ.Other_Activities}}</li>
                        <li>Kuks: {{squ.Kuks}}</li>
                        <li>Quaas: {{squ.Quaas}}</li>
                        <li>Moans: {{squ.Moans}}</li>
                        <li>Tail_flags: {{squ.Tail_flags}}</li>
                        <li>Tail_twitches: {{squ.Tail_twitches}}</li>
                        <li>Approaches: {{squ.Approaches}}</li>
                        <li>Indifferent: {{squ.Indifferent}}</li>
                        <li>Runs_from: {{squ.Runs_from}}</li>
			<li><a href="/sightings/{{squ.Unique_Squirrel_ID}}/">Update this squirrel HERE!</a></li>
		</ul>
	</body>
</html>
