<!doctype html>
<html>
	<head>
		<title> Squirrel Information </title> 
	</head>
	<body>
		<ul>
			<li>Latitude: {{detail_Latitude}}</li>
			<li>Longitude: {{detail_Longitude}}</li>
                        <li>Unique_Squirrel_ID: {{detail_Unique_Squirrel_ID}}</li>
                        <li>Shift: {{detail_Shift}}</li>
                        <li>Date: {{detail_Date}}</li>
                        <li>Age: {{detail_Age}}</li>
                        <li>Primary_Fur_Color: {{detail_Primary_Fur_Color}}</li>
                        <li>Location: {{detail_Location}}</li>
                        <li>Specific_Location: {{detail_Specific_Location }}</li>
                        <li>Running: {{detail_Running}}</li>
                        <li>Chasing: {{detail_Chasing}}</li>
                        <li>Climbing: {{detail_Climbing}}</li>
                        <li>Eating: {{detail_Eating}}</li>
                        <li>Foraging: {{detail_Foraging}}</li>
                        <li>Other_Activities: {{detail_Other_Activities}}</li>
                        <li>Kuks: {{detail_Kuks}}</li>
                        <li>Quaas: {{detail_Quaas}}</li>
                        <li>Moans: {{detail_Moans}}</li>
                        <li>Tail_flags: {{detail_Tail_flags}}</li>
                        <li>Tail_twitches: {{detail_Tail_twitches}}</li>
                        <li>Approaches: {{detail_Approaches}}</li>
                        <li>Indifferent: {{detail_Indifferent}}</li>
                        <li>Runs_from: {{detail_Runs_from}}</li>
			<li><a href="/maplot/<int:Unique_squirrel_ID>/edit/">Upadte</a></li>
		</ul>
	</body>
</html>
